.categories {
  margin: 15px 0 10px 0;

  .categories-loading {
    margin-bottom: 100px;
    .loader {
      position: absolute;
      top: 12%;
      left: 7.5%;
      min-width: 10rem !important;
    }
  }

  .error {
    padding: 25px;
    height: 200px;
    margin-bottom: 60px;
  }

  .right.menu {
    .button {
      &:hover {
        color: #337ab7;
      }
      .add.circle.icon {
        width: 2.57142857em !important;
      }
    }
  }

  .edit-delete {
    padding: 5px !important;
  }

  .create-category {
    button {
      background: none !important;
      border: 1px solid rgba(34,36,38,.15) !important;
      &:hover {
        background: rgba(0, 0, 0, .03);
        color: rgba(0, 0, 0, .95);
      }
    }
  }

  .add.inactive {
    display: none;
  }

  .add.active {
    display: block;
  }

  .edit.inactive {
    display: none;
  }

  .edit.active {
    display: block;
  }

}
